*.pro
*.pri
*.user
*.opensdf
/SensorPositionEmulation/*.sdf
/SensorPositionEmulation/SensorPositionEmulation/GeneratedFiles
/SensorPositionEmulation/SensorPositionEmulation/Debug
/SensorPositionEmulation/Win32
